includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    bootstrapFiles:
        - %rootDir%/../../../vendor/autoload.php

    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false

    excludePaths:
        - vendor

    universalObjectCratesClasses:
        - Contao\ModuleModel
        - Contao\Template
        - Contao\Widget

    ignoreErrors:
        -
            message: '#Cannot access offset mixed on mixed\.#'
            path: %currentWorkingDirectory%/src/Widget/LanguageDependentModulesSurrogate.php
